h1 {
  font-size: 37px;
  margin-bottom: 0;
}

h2 {
  font-size: 18px;
  text-align: left;
}

ul {
  margin: 0 0 20px 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 14px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 50px auto;
}

.weather-app {
  padding: 20px;
  border: 0.5px solid black;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
}
