h1 {
  font-size: 37px;
  margin-bottom: 0;
}

h2 {
  font-size: 18px;
  text-align: left;
}

h2::first-letter {
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  text-align: center;
  padding-top: 7px;
}

h4 {
  font-size: 17px;
}
h4::first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0 0 20px 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 16px;
}

.card-text {
  text-align: center;
  font-size: 16px;
}

.illustration {
  size: 10px;
}
.card {
  margin: 40px 2px 2px 2px;
}

.weather-app-wrapper {
  margin: 50px auto;
  max-width: 800px;
}

.card {
  min-height: 200px;
}

.card-text {
  padding-top: 8px;
}

.weather-app {
  padding: 20px;
  border: 0.2px solid black;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(
    89.8deg,
    rgb(39, 115, 255) 4.3%,
    rgb(62, 211, 232) 101.4%
  );
}

.temperature-units {
  position: relative;
  font-size: 16px;
  top: -11px;
}

#search-button {
  margin-left: 0px;
}

#celsius {
  text-decoration: none;
}

#fahrenheit {
  text-decoration: none;
}

#temperature {
  font-size: 32px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
